@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
:root {
    --light-gray: #dededef3;
    --title-color: #333756;
    --main-color: #c6c6c6f3;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-gray);
}
header {
    text-align: center;
    padding-top: 4rem;
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 4px;
}
button {
    margin: 1rem;
    padding: 0.8rem 2rem;
    font-size: 14px;
    border-radius: 25px;
    background: white;
    color: #333756;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.6s all ease;
}
:focus {
    /*outline: 1px solid white;*/
}

button:hover {
    background: var(--title-color);
    color: white;
}
.add__book:hover,
.cancel:hover {
    background: var(--main-color);
    color: var(--title-color)
}
.all,
.books__read,
.books__not-read {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: var(--light-gray);
    border-bottom: 4px solid var(--title-color)
}
.library__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.book__container {
    display: flex;
    margin-top: 2rem;
}
.modal__container {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 0px;
}
.book,
.modal {
    padding: 2rem 2rem;
    border-radius: 15px;
    background: #333756;
    line-height: 3rem;
}
.modal {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 8rem;
}
.modal__content {
    display: flex;
    flex-direction: column;
}
label {
    color: white;
}
input {
    padding: 0.5rem;
    font-size: 14px;
}
.book__read-elements {
    display: flex;
    justify-content: space-between;
}
.main,
i {
    color: white;
}
.book__title,
.book__author,
.book__pages,
.book__read {
    color: var(--main-color)
}
